[Match]
Name=eth*

[Network]
DHCP=yes
Address=10.10.1.4/24

# Route all by vpn

[Route]
Destination=10.10.0.0/16
Gateway=10.10.1.1

[Route]
Destination=139.99.156.106
Gateway=10.10.1.1

#[Route]
#Destination=10.8.2.1
#Gateway=10.10.1.1

#[Route]
#Destination=0.0.0.0
#Gateway=10.8.2.1
